$color-primary: #2ecc71;
$color-primary-light: #7ed56f;
$color-primary-dark: #1d8348;
$color-card-bg: rgb(255, 255, 255);
$color-card-shadow: rgba(0, 0, 0, 0.06);
$color-card-border: rgb(227, 233, 237);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  // background-color: #efefef;
}

.App {
  text-align: center;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
