header {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('https://media1.s-nbcnews.com/i/newscms/2018_30/2505991/180723-open-ofice-space-dk-928_21c81d16103938952551ae5674fa8bb9.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://media1.s-nbcnews.com/i/newscms/2018_30/2505991/180723-open-ofice-space-dk-928_21c81d16103938952551ae5674fa8bb9.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.showcase-container {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// .showcase-container {
//   margin: auto;
//   max-width: 1100px;
//   padding: 0 10px;
// }

.showcase-content {
  text-align: center;
  padding-top: 120px;
  position: relative;
}

.showcase-content h1 {
  font-size: 45px;
  z-index: 10;
  line-height: 1.2em;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase-h1 {
  color: $color-primary;
  z-index: 10;
}
.showcase-h3 {
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}
.future {
  color: $color-primary;
  font-weight: bold;
  font-size: 30px;
}
.showcase-content a {
  text-decoration: none;
  padding: 12px 16px;
  color: black;
  background: $color-primary;
  margin-top: 5%;
  border-radius: 8px;
  cursor: pointer;
}
.showcase-content a:hover {
  background-color: rgb(36, 110, 76);
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
