.logoutlink a {
  float: right;
  color: black;
  padding-right: 20px;
  margin-top: -5px;
}

.stock-logo {
  margin-top: 60px;
  font-size: 50px;
}

.position-logo {
  margin-top: 2%;
  margin-right: 70%;
}

.logo {
  padding-right: 30px;
}

.navbar {
  @include flex;
  background-color: black;
  color: whitesmoke;
  min-width: 100vh;
  height: 70px;
  z-index: 5;
  position: sticky;
  top: 0px;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  ul {
    display: flex;
    padding: 0px 30px;
    list-style: none;
    a {
      padding: 10px 30px;
      &:hover {
        border-bottom: 2px solid whitesmoke;
      }
    }
  }
  li {
    justify-self: flex-end;
  }
}

.navbar-container {
  @include flex;
}
.navbar-search-container {
  margin: 0 30px;
  background-color: rgb(30, 33, 36);
  border-radius: 8px;
  border: 1px solid rgb(48, 54, 58);
  // transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  position: relative;
  &.isFocused {
    outline: none;
    border: 1px solid $color-primary;
  }
}

.navbar-search {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.4);
}
.navbar-search-icon {
  position: absolute;
  top: 9px;
}
.navbar-input {
  padding-left: 25px;
  color: white;
  width: 400px;
  min-width: 120px;
  height: 35px;
  border: none;
  outline: none;
  background: none;
}

.navbar-search-clear-btn {
  padding-right: 10px;
  position: absolute;
  right: 15px;
  color: $color-primary;
}

.logo h1 {
  font-weight: 300;
  line-height: 1.2;
  padding: 0px 20px;
}

.text-primary {
  margin-left: 15px;
  color: $color-primary;
}
