.stock-page-container {
  width: 1024px;
  margin: 0 auto;
}

.stock-headline-container {
  margin: 30px 50px 0px 50px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stock-headline {
  display: flex;
  align-items: center;

  &-ticker {
    font-size: 30px;
    font-weight: 600;
  }
  &-name {
    font-size: 30px;
    font-weight: 400;
    padding-left: 20px;
  }
  &-price {
    font-weight: 600;
    font-size: 22px;
  }

  .favorite-icon {
    margin-left: 7px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 20px;
    color: $color-primary;
  }
}

.stock-section-1,
.stock-section-2 {
  display: flex;
}

.stock-accordion {
  margin-left: 20px;
}

.stock-news {
  background-color: aqua;
}
.stock-about {
  background-color: aquamarine;
}
.stock-sec-filings {
  background-color: violet;
}

.order-card {
  position: fixed;
  background-color: $color-card-bg;
  border-radius: 4px;
  box-shadow: 0px 12px 24px $color-card-shadow,
    0px -12px 24px $color-card-shadow;
  margin-left: 30px;
  width: 275px;

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 700;
    border-bottom: 1px solid $color-card-border;
  }
  &-chevron {
    cursor: pointer;
  }
  &-invest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    border-bottom: 1.5px solid $color-card-border;

    input[type='radio'] {
      margin: 10px;
      width: 18px;
      height: 18px;
    }
    input[type='radio']:after {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: 3px;
      top: 3px;
      position: relative;
      content: '';
      display: inline-block;
      visibility: visible;
    }

    input[type='radio']:checked:after {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: 3px;
      top: 3px;
      position: relative;
      background-color: $color-primary;
      content: '';
      display: inline-block;
      visibility: visible;
    }
    &-radios {
      margin-left: -10px;
      display: flex;
      align-items: center;
    }
  }
  &-label {
    font-weight: 500;
    white-space: nowrap;
  }
  &-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    label {
      padding-bottom: 8px;
    }

    &-numberbox {
      display: table;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(122, 126, 131);
      margin-bottom: 0px;
      border-radius: 8px;
      padding: 1px;
      height: 40px;
      width: 240px;
    }
    input {
      display: table;
      background-color: rgb(255, 255, 255);
      border-radius: 8px;
      height: 40px;
      text-align: right;
      padding-right: 15px;
      border: none;
      width: 100%;
    }
    input:focus {
      outline: none;
    }
    .numberbox-dollar-symbol {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      padding: 8px 4px 8px 10px;
      width: 1%;
    }
  }
  &-row {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
  }
  &-estimate {
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-button {
    display: table;
    background-color: $color-primary;
    border-radius: 8px;
    height: 42px;
    width: 240px;
    text-align: center;
    margin: 0 20px 20px 20px;
    border: none;
    outline: none;
  }
}
