@import './_base.scss';
@import './_authorization.scss';
@import './_navbar.scss';
@import './_landingPage.scss';
@import './_stocks.scss';
// @import '../components/common/Accordion.scss';

.bodypurshase {
  background-color: inherit;
  width: 180px;
  height: 420px;
  border-style: solid;
  float: right;
  margin-top: -43%;
  margin-right: 10%;
}

.bodypurshase button {
  margin-top: 10px;
  border-left: inherit;
  border-right: inherit;
  margin-left: 10px;
  border-left: inherit;
  border-top: inherit;
  border-left: inherit;
  border-bottom: inherit;
  margin-bottom: 30%;
  background-color: inherit;
  color: black;
}
.bodypurshase button:hover {
  border-bottom: 3px solid rgb(240, 10, 10);
  overflow: hidden;
}
.bodypurshase input {
  width: 30%;
}
.shares h4 {
  font-size: 12px;
}
.trackbutton button {
  width: 150px;
  background-color: $color-primary;
  float: right;
  margin-right: 11%;
  color: white;
  margin-top: -300px;
  padding: 5px;
  border-radius: 10px;
}
.trackbutton button:hover {
  background-color: $color-primary;
  border-bottom: $color-primary;
  overflow: hidden;
}
.purshase input {
  float: right;
  text-align: center;
}
.purshase button {
  background-color: $color-primary;
}

.links h3 {
  float: left;
  padding-left: 20px;
  margin-top: -1px;
  color: white;
}
.deposit button {
  width: 70px;
  height: 30px;
  border-radius: 15px;
  color: blue;
}
.deposit h2 {
  float: left;
  margin-left: 10%;
}

.containers {
  width: 25%;
  float: left;
  border-color: white;
}
.container {
  width: 30%;
  float: left;
  border-color: white;
  position: relative;
}

.stockcard {
  background-color: inherit;
  width: 300px;
  height: 450px;
  justify-content: center;
  padding-left: 20px;
  margin-top: 1%;
}
.stockcard p {
  text-align: center;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stockcard input {
  width: 410%;
}

.hometracking {
  position: relative;
  width: 300px;
  background-color: lightgreen;
  height: 250px;
  text-align: center;
  border-radius: 50px;

  margin-left: 8%;
}
.hometracking p {
  color: darkblue;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homeh3 {
  margin-top: 20px;
  margin-left: 5%;
  text-align: left;
  border-bottom: lightpink;
}
.homeh3 h3 {
  font-size: 30px;
}
// .positions {
//   width: 25%;
//   display: block;
//   height: 130px;
//   background-color: lightgreen;
//   float: left;
//   margin-left: 10px;
//   border-radius: 20px;
//   border-style: solid;
//   margin-bottom: -80px;
//   margin-top: 90px;
// }
.trades {
  width: auto;
  padding: 30px;
  text-align: center;
  background-color: inherit;
}
.trade-content:nth-of-type(even) {
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
}
.trade-history-container {
  margin-left: 35%;
}
.trades h3 {
  float: left;
  font-size: 14px;
  margin-top: -15%;
  margin-right: 10px;
}
.trades span {
  color: #009879;
  font-size: 20px;
  font-weight: bold;
}
.tradehr {
  width: 80%;
  margin-left: 10%;
}
.v1 {
  border-left: 3px solid red;
}

.trades p {
  font-size: 12px;
  float: left;
  margin-top: -8%;
}
.otherColumn {
  float: left;
  width: 33%;
  padding: 0px 10px;

  margin-bottom: 10%;
  margin-top: 2%;
}
.otherColumn input {
  width: 300px;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 2%;
}
.otherColumn button {
  border-radius: 15px;
  width: 100px;
  color: white;
  background-color: $color-primary;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  text-align: center;
}
.tracking-chart {
  margin-top: -50px;
}

.homeColumn-transactions {
  flex: 1;
  padding-left: 40px;
}
.homeColumn-positions {
  flex: 1;
}

.homeWrapper {
  width: 40%;
  text-align: center;
  border: solid;
  margin-left: 50%;
}
.column {
  float: left;
  width: 33%;
  border-radius: solid;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

.homeRow {
  display: flex;
  margin: auto;
  max-width: 800px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 20px;
}
// .position-transactions-container {
//   width: 1000px;
//   margin: auto;
//   background-color: lightgray;
// }
.usd-chard-container {
  margin: auto;
  max-width: 800px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 20px;
}
.rowTwo:after {
  content: '';
  display: table;
  clear: both;
}
.row {
  width: 100%;
}

.stocks input {
  position: absolute;
  width: 300px;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 3%;
}
.stocks button {
  border-radius: 15px;
  width: 100px;
  color: white;
  background-color: $color-primary;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  text-align: center;
  margin-top: 7%;
  margin-left: 15%;
  position: absolute;
  margin-bottom: 10%;
}
.stocks p {
  font-family: cursive;
  font-weight: bold;
  color: black;
}
.homebalance {
  background-color: inherit;
  /* width: 150px; */
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  margin-left: 85%;

  text-align: right;
}
.homebalance h2 {
  text-align: right;
  margin-right: 10%;
  color: black;
  font-weight: bold;
}
.homebalance p {
  text-align: right;
  margin-right: 10%;
}
.homebalance hr {
  margin-right: 10%;

  width: 60%;
}
.homecard p {
  color: black;
  font-weight: bold;
}
.homecard input {
  width: 200px;
  text-align: center;
  justify-content: center;
}
.homecard button {
  width: 70%;
  text-align: center;
  justify-content: center;
  border-radius: 100px;
}
.homecard {
  width: 130%;

  margin-left: 150%;
  background-color: lawngreen;
}
.trackeroutput hr {
  position: relative;
}
.trackeroutput p {
  margin-bottom: 10px;
}

.tradeequity {
  text-align: right;
  padding-right: 10%;
  padding-top: 10px;
}
.tradeequity p {
  text-align: right;
}
.tradecontent {
  max-width: 100%;
  min-height: 200px;
}

.chart {
  text-align: center;
  float: left;
  margin-top: 10%;
}

.card {
  padding: 16px;
  text-align: center;
  background-color: inherit;
}

.rowss:after {
  content: '';
  display: table;
  clear: both;
}
.tracking {
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 10px;
  border: solid;
  border-radius: 15px 5px;
  border-color: lightgray;
  max-width: 500px;
}

.tracking h2 {
  float: right;
  font-size: 18px;
}
.tracking span {
  font-size: 12px;
}

.tracking-price {
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: green;
  padding-right: 15px;
}

.tracking h3 {
  float: left;
  margin-top: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  color: green;
}
.tracking h1 {
  font-size: 15px;
}
.tracking p {
  text-align: left;
  font-size: 12px;
}
.news {
  float: left;
  width: 100%;
}
.news p {
  text-align: left;
  width: 80%;
  padding-left: 10%;
  font-size: 12px;
}
.news h3 {
  margin-top: 90px;
  font-size: 30px;
}
.numshares p {
  margin-top: 100px;
  font-size: 12px;
}
.error p {
  color: red;
  font-weight: bold;
  border-color: black;
  border-radius: 50px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.confirm button {
  background-color: $color-primary;
  padding: 10px;
  border-radius: 25px;
  color: white;
  font-family: cursive;
}

.homepos h2 {
  position: relative;
  margin-top: 30%;
  text-align: center;
  font-size: 30px;
}

.position-home {
  // margin-top: 200px;
  display: flex;
  height: 110px;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-left: 20px;
  width: 90%;
  font-family: sans-serif;
  background: white;

  color: black;
  font-size: 11px;
}
.position-home:nth-of-type(even) {
  background-color: whitesmoke;
  border-radius: 10px;
}
.position-home:last-of-type {
  border-bottom: inherit;
}
.trade-home {
  margin-top: 100%;
  display: flex;
  height: 110px;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-right: 20px;
  width: 90%;
  font-family: sans-serif;
  background: white;

  color: black;
}
.trade-home:nth-of-type(even) {
  background-color: whitesmoke;
  border-radius: 10px;
}

.trade-home span {
  font-size: 15px;
}

.home-trade-ticker {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.trade-home h1 {
  float: left;
}
.position-logo {
  flex: 1;
  font-size: 10px;
  margin-top: 60px;
  padding-top: 10px;
}
.position-logo span {
  margin-top: 20px;
}
.position-ticker {
  flex: 1;
}

.position-equity {
  flex: 1;
  margin-bottom: 25px;
}
.position-equity p {
  margin-bottom: 40px;
}
.position-equity h5 {
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.position- .wrapper h2 {
  text-align: left;
  padding-left: 10px;
}
.position-h1 {
  text-align: center;
  margin-top: 20%;
}

.homePositions h3 {
  text-align: left;
  color: green;
}
.homePositions h2 {
  text-align: center;
}

// .grid {
//   display: grid;
//   margin-top: 5%;

//   background-color: white;
//   height: 700px;
// }
// .nested {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   background-color: white;
//   padding-bottom: 40px;
//   max-width: 50%;
//   padding-top: 40px;
//   border: solid;
// }
.grid h3 {
  text-align: center;
}
.home-watchlist-h3 h3 {
  float: right;
}

.secondGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 60px;

  background-color: white;
}
.cryptoInfo input {
  font-size: 20px;
  text-align: center;
  width: 30%;
  margin-top: 30px;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-bottom-style: solid;
}
.cryptoInfo p {
  font-family: cursive;
  color: red;
  margin-left: 5%;
}
.crypto-flex button {
  border-radius: 15px;
  margin-top: 3%;

  font-weight: bold;
  font-size: 15px;
  width: 11%;
  background-color: green;
  color: whitesmoke;
}
.crypto-flex button:hover {
  background-color: black;
  /* border-bottom: 7px solid darkgray;
overflow: hidden; */
}

// crypto page styling

.crypto-image {
  margin-top: 150px;
  margin: auto;
}

.crypto-button {
  float: left;
}

.crypto-flex {
  display: flex;
}

.crypto-table {
  border-collapse: collapse;
  margin: 150px 15px 10px 10px;
  min-height: 250px;
  flex: 1;
  background-color: honeydew;
  font-size: 0.9em;
  min-width: 150px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.crypto-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.crypto-table th,
.crypto-table td {
  padding: 12px 12px;
  font-weight: bold;
}
.crypto-table th:hover {
  border-radius: solid 2px green;
}
.crypto-table td:hover {
  border-radius: solid 2px green;
}
.crypto-table tbody tr {
  border-bottom: 1px solid green;
}

.crypto-chart {
  margin: auto;
  margin-top: 50px;
}

.article-flex {
  display: flex;
}

.article-image {
  flex: 1;

  padding-bottom: 30px;
}
// .article-image img {
//   min-height: 100%;
//   // background-position: center;
//   // background-repeat: no-repeat;
//   // background-size: cover;
// }
.article {
  flex: 1;
  margin-top: 25px;
  // padding-left: 10px;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

.article a {
  text-decoration: none;
  color: darkblue;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.article a:hover {
  color: blue;
  font-size: 20px;
}
.article p {
  color: black;
  margin-top: 10px;
  font-size: 9px;
}
.article-container p {
  float: right;
}

.gemini-table {
  border-collapse: collapse;
  margin: 25px 0;
  flex: 1;
  font-size: 0.9em;
  max-width: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.gemini-table thead tr {
  background-color: lightskyblue;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.gemini-table th,
.gemini-table td {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.gemini-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.coinbase-table {
  border-collapse: collapse;
  margin: 25px 0;
  flex: 1;
  font-size: 0.9em;
  max-width: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.coinbase-table thead tr {
  background-color: darkblue;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.coinbase-table th,
.coinbase-table td {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.coinbase-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.binance-table {
  border-collapse: collapse;
  margin: 25px 0;
  flex: 1;
  font-size: 0.9em;
  max-width: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.binance-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.binance-table th,
.binance-table td {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.binance-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Crypto-volume-flex {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.gemini-volume {
  flex: 1;
}
.binance-volume {
  flex: 1;
}
.coinbase-volume {
  flex: 1;
}
.Crypto-Home-volume {
  margin: auto;
  max-width: 700px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 20px;
}
.marketCap-container {
  margin: auto;
  max-width: 700px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 20px;
}

.top-exchange-table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 20px;
  font-size: 0.9em;
  max-width: 400px;
  max-height: 300px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.top-exchange-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.top-exchange-table th,
.top-exchange-table td {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.top-exchange-table tbody tr {
  border-bottom: 1px solid;
}

.top-exchange-table tbody tr:hover {
  background-color: #dddddd;
}

.supply-table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 20px;
  font-size: 0.9em;
  max-width: 400px;
  max-height: 300px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.supply-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.supply-table th,
.supply-table td {
  padding: 20px 15px;
  margin-bottom: 50px;
}
.supply-table tbody tr {
  border-bottom: 1px solid black;
}

.supply-volume {
  margin: auto;
}
.crypto-supply-flex {
  display: flex;
}
.crypto-supply {
  flex: 1;
  margin-bottom: 10px;
}
.crypto-image {
  flex: 1;
  margin-bottom: 10px;
}
.crypto-supply-name {
  flex: 1;
  margin-bottom: 10px;
}
.crypto-supply-name p {
  color: black;
}
.crypto-supply p {
  color: black;
}

.content-table-articles {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  max-width: 700px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table-articles thead tr {
  background-color: #2b37e2;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.content-table-articles th,
.content-table-articles td {
  padding: 12px 15px;
}
.content-table-articles tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table-articles tbody td:nth-of-type(even) {
  background-color: #f3f3f3;
  padding-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
}
.content-table-articles tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.home-trade-buy {
  color: green;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}
.home-trade-sell {
  color: rgb(240, 10, 10);
  margin-left: 30px;
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}

.trades-buy {
  color: green;
  font-weight: bold;
}
.trades-sell {
  color: rgb(240, 10, 10);
  font-weight: bold;
}
.home-trade-transaction p {
  font-size: 12px;
  float: left;
  margin-left: 17%;
}
.home-trade-transaction span {
  color: rgb(36, 110, 76);
  font-size: 12px;
  font-weight: bold;
}

.position-graph {
  padding-left: 10px;
}

.position-list-button {
  width: 85px;
  border: inherit;
  color: black;
  font-size: 25px;
  padding: 12px 5px;
  background-color: inherit;
}
.position-list-button:hover {
  border-bottom: 2px solid red;
}

.content-table button {
  float: right;
  width: 70px;
  font-size: 15px;
  color: whitesmoke;
  background-color: inherit;
  border: inherit;
}
.content-table button:hover {
  background-color: black;
  border-radius: 15px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  max-width: 500px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  padding-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-transactions {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  max-width: 300px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table-transactions thead tr {
  background-color: #2b37e2;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.content-table-transactions th,
.content-table-transactions td {
  padding: 12px 15px;
}
.content-table-transactions tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table-transactions tbody td:nth-of-type(even) {
  background-color: #f3f3f3;
  padding-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
}
.content-table-transactions tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.gainers-by-ticker-ticker {
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
.gainers-by-ticker-ticker:nth-of-type(even) {
  background-color: whitesmoke;
  padding: 10px 10px;
  border-radius: 10px;
}
.gainers-by-ticker-ticker span {
  color: #009879;
  margin-left: 10%;
}

.losers-by-ticker-ticker {
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
.losers-by-ticker-ticker:nth-of-type(even) {
  background-color: whitesmoke;
  padding: 10px 10px;
  border-radius: 10px;
}
.losers-by-ticker-ticker span {
  color: red;
  margin-left: 10%;
}
.crypto-data-asset {
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
.crypto-data-asset:nth-of-type(even) {
  background-color: lightgray;
  padding: 10px 10px;
  border-radius: 10px;
}
.crypto-data-asset span {
  color: black;
  margin-left: 10%;
}

.crypto-volume-image {
  float: right;
  margin-top: 10px;
}

.exchanges-table-headers {
  display: flex;
  justify-content: space-around;
}
.Exchanges-table-price-header {
  flex: 1;
  padding-left: 40px;
  margin-left: 10px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Exchanges-table-price-header-hourly-change {
  flex: 1;
  margin-left: 80px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Exchanges-table-price-header-hourly-change h3 {
  margin-left: 50px;
}

.btc-crypto-table-header span {
  float: left;
}

.exchanges-table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 70px;
  font-size: 0.9em;
  min-width: 700px;
  max-height: 400px;
  border-radius: 20px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

.exchanges-table thead tr {
  background-color: inherit;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.exchanges-table thead th {
  position: sticky;
  top: 0px;
}
.exchanges-table th,
.exchanges-table td {
  padding: 30px 35px;
  margin-bottom: 20px;
  border-bottom: solid;
  border-bottom-color: lightgray;
}
.exchanges-table td:hover {
  background-color: whitesmoke;
}
.exchanges-table tbody tr {
  margin-bottom: 10px;
}
.crypto-supply-exchange-flex {
  display: flex;
  margin: auto;
  max-width: 700px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 20px;
}
.crypto-home-exchange {
  flex: 1;
}
.Crypto-Home-Supply {
  flex: 1;
}

.crypto-exchange-data {
  display: flex;
}
.crypto-exchange-bio {
  flex: 1;
}
.crypto-exchange-weeklyChart {
  flex: 1;
}
.chart-button {
  flex: 1;
}
.crypto-exchange-symbol {
  flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: -15px;
}
.crypto-exchange-symbol span {
  padding-right: 10px;
  margin-top: 5px;
}
.crypto-exchange-price {
  flex: 1;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.crypto-exchange-supply {
  flex: 1;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.crypto-exchange-volume {
  flex: 1;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}
.crypto-exchange-market {
  flex: 1;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.crypto-exchange-dayChange {
  flex: 1;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.dayChangeNeg {
  color: red;
}
.dayChangePos {
  color: darkgreen;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  background-color: white;

  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
  color: black;
  background-color: inherit;
  padding: 8px 10px;
  max-width: 200px;
  text-decoration: none;
  border: none;
  display: block;
}
.dropdown-content button:hover {
  background-color: whitesmoke;
}

.crypto-exchange-24-change {
  flex: 1;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.crypto-exchange-name p {
  font-size: 9px;
  color: black;
  font-weight: bold;
}

.crypto-exchange-gradepoints {
  flex: 1;
  margin-bottom: 10px;
}
.crypto-exchange-url {
  flex: 1;
  margin-bottom: 10px;
}
.crypto-exchange-url:hover {
  border-bottom: solid 2px gray;
}
.crypto-exchange-url a {
  text-decoration: none;
  color: blue;
}

.home-watchlist-transactions-positions {
  display: flex;
}

.home-watchlist-center {
  margin: auto;
  margin-top: 80px;
  display: inline-block;
  flex: 1;
}

.tracking-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-height: 550px;
  font-size: 0.9em;
  min-width: 750px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(247, 151, 26, 0.15);
}

.tracking-table thead tr {
  background-color: #ffa742;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.tracking-table th,
.tracking-table td {
  padding: 12px 15px;
}
.tracking-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.gainers-table {
  border-collapse: collapse;
  margin: 25px 0;

  font-size: 0.9em;
  min-width: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.gainers-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.gainers-table th,
.gainers-table td {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.gainers-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

// .gainer-loser-flex {
//   display: inline-block;
//   margin: auto;
// }
.home-gainer-flex {
  display: inline-block;
  margin: auto;
  padding-left: 25px;
}

.losers-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.losers-table thead tr {
  background-color: #eb3b3b;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.losers-table th,
.losers-table td {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.losers-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.trade-history-table {
  border-collapse: collapse;
  margin: 25px 0;

  font-size: 0.9em;
  min-width: 500px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.trade-history-table thead tr {
  background-color: orange;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.trade-history-table th,
.trade-history-table td {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.trade-history-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.positions-pie-chart {
  margin-top: -700px;
}

// Home/dashboard grid

// .home-grid-container {
//   display: grid;
//   grid-template-columns: 50px 50px 50px 50px 50px;
//   grid-template-rows: auto;
// }

// .tracking-table {
//   grid-column-start: 2;
//   grid-column-end: five;
//   grid-row-start: row1-start;
//   grid-row-end: 3;
// }
// .gainers-table {
//   grid-area: gainers;
// }
// .losers-table {
//   grid-area: losers;
// }

// .homeColumn-positions {
//   grid-area: first-body;
// }
// .homeColumn-transactions {
//   grid-area: second-body;
// }
